body{background-image: url('/images/flower-8177578_640.webp');
background-size: cover;
}
#h1{
    font-style: italic;
}
#p1{
    font-style: italic;
}
#p2{
    font-style: italic;
}
.grp1{
    font-family: 'Courier New', Courier, monospace;
    border: 2px;border-color: brown;
}
.list style{
    font-style: normal;
    
}
table{
    border: 2px solid red;
    border-collapse: collapse;
    margin: 5% 30% 40%;
}
.tabletr{
    border-bottom: 2px solid red;
    color: black;
}
    
.tabletd{
    border-right:  2px solid red;
    padding: 7px 10px 7px 10px;
}